<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Camp.com - Find Campgrounds for your next outdoor adventure</title>
		<link rel="icon" href="/favicon.png" style="height: 32px; width: 32px;">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
		
		<div class="container" id="landing-header">
			<div id="landing-title-box">
				<h2 id="landing-title">Find Campgrounds for your next outdoor adventure</h2>
			</div>

			<form action="/campgrounds/search/" method="GET" class="form-horizontal">
				<div class="input-group input-group-lg" id="searchBar">						
					<input type="text" name="term" class="form-control" placeholder="Campground name">
					<span class="input-group-btn" id="inputGroup-sizing-lg">
						<button type="submit" value="term" class="btn btn-primary" aria-describedby="inputGroup-sizing-lg">Search</button> 
					</span>
				</div>
			</form>

			<div class="container" style="width: 100%; margin-top: 40px;">
				<div class="row">
					<div class="col-md-1 col-xs-0 col-sm-0"> </div>
					<a href="/campgrounds/" class="col-md-4 col-xs-12 col-sm-12 btn btn-success" style="background-color: #337AB7">Recommended</a>
					<div class="col-md-2 col-xs-12 col-sm-12" style="height: 20px;"> </div>
					<a href="/campgrounds/Search/" class="col-md-4 col-xs-12 col-sm-12 btn btn-success" style="background-color: #337AB7">View All</a>	
					<div class="col-md-1 col-xs-0 col-sm-0"> </div>
				</div>
			</div>		
		</div>

		<ul class="slideshow">
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		  <li></li>
		</ul>

	</body>
</html>

